<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="10" id="interpause.metaTTT" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name short="metaTTT">Meta TicTacToe</name>
    <description>
        Meta Tic Tac Toe. A childhood game that I found fun and I believe can be made funner for everyone.
    </description>
    <author email="johnhenrylim12@gmail.com" href="https://github.com/Interpause">John-Henry Lim</author>
    <content src="index.html" />
    <allow-intent href="https://*/*" />
    <access origin="*" subdomains="true" />
    <preference name="DisallowOverscroll" value="true" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="HeaderColor" value="#ff9900" />
        <preference name="KeepRunning" value="true" />
        <icon density="mdpi" src="res/icon/android/mdpi.png" />
        <icon density="hdpi" src="res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="browser"></platform>
    <plugin name="cordova-plugin-screen-orientation" spec="^3.0.2" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.3" />
    <plugin name="cordova-plugin-headercolor" spec="^1.0.0" />
    <plugin name="cordova-plugin-browsersync-gen2" spec="^1.1.7" />
    <plugin name="cordova-launch-review" spec="^3.1.1" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.4" />
    <engine name="browser" spec="^5.0.4" />
    <engine name="android" spec="^7.1.4" />
</widget>
